// ********************************************************************************************
//
// variable.scss
//
// ********************************************************************************************

// Font
$BASE_FONT_SIZE: 62.5%;
$BASE_FONT_FAMILY: YuGothic, 游ゴシック, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
$BASE_LINE_HEIGHT: 1;

// Image
$IMG_PATH: "/assets/images/";

// Color
$BASE_BLACK: #000;
$BASE_WHITE: #FFF;